.about
{
    margin-top: 50px;
}

#ab
{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;

}

html,body
{
    height: 110%;
}
.div1
{
    background-image: url('../images/team.png');
    width:800px;
    height:950px;
    float: right;
    margin-left: 470px;
    margin-top:-1100px;
    
}
.divs
{
    float: left;
   
    width:416px;
    height: 1100px;
    background-color: bisque;
    margin-top: 50px;
}
.navbar
{
    position: fixed;
}
.navbar-nav .nav-item a:active {
    color: red; /* Change to your desired color */
  }
  .down-div
{
  background-color: black;
  height:300px;
  width: 100%;
  float: left;
  
}
.ul-div
{
  color:white;
  margin-left:360px;
  margin-top:100px;
}